node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

/android
/ios_backup
/android_backup
google-service-info.b64
*.env*
*__*.tsx

/ios
/android
/_ios

ios/certs/**/*
assets/*.plist